body {
	font: 13px Arial, sans-serif;
	background:black;
	background-image:url('../static/M8-lagoon-rim-1920.jpg');
	margin:20px;
}
	
table, th, td {
	border: 0px solid lightslategray;	
	border-radius:3;
}

table {
	margin-left:auto;
	margin-right:auto;
}

th {
	height: 50px;
	background-color:lightslategray;
	color:white;
	padding-left:10px;
	padding-right:10px;
}

td {
	color:white;
	padding-left:5px;
	padding-right:5px;
	border: 1px solid lightslategray;
}

#actionCanvas {
	position:fixed;
	top:80px;
	left:20px;
	width:730px;
	height:330px;
	padding-top:10px;
	background:black;
	color:white;
	font: Arial, sans-serif;
	border: 3px solid #660000;
	border-radius:10;
	background:black;
	background-image:url('../static/ActionCanvasBack.gif');
}

#canvasRoot {
	position:fixed;
	top: 450px;
	width: 330px;
	height: 130px;
	background:black;
	color:white;
	border: 3px solid blue;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
	background:black;
	background-image:url('../static/RootCanvasBack.gif');
}

#historyCanvas {
	position:fixed;
	top: 450px;
	left: 400px;
	width:350px;
	height: 130px;
	font: Arial, sans-serif;
	margin:0;
	border: 3px solid lightslategray;
	border-radius:10;
	background:black;
	background-image:url('../static/HistoryCanvasBack.gif');
}

#canvasName {
	position:fixed;
	top: 20px;
	width:730px;
	height:150px;
	color:white;
	border: 3px solid #660000;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
	background:black;
	background-image:url('../static/NameCanvasBack.gif');
}

#canvasStats {
	position:fixed;
	top:200px;
	width: 250px;
	height: 190px;
	padding: 10px;
	color:white;
	border: 3px solid blue;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
	background:black;
	background-image:url('../static/StatsCanvasBack.gif');
}

#portraitCanvas {
	position:fixed;
	top:200px;
	left:320px;
	width: 433px;
	height:320px;
	border: 1px solid black;
	border-radius:10;
}

#popupCanvas {
	position:fixed;
	top:50px;
	left:50px;
	width: 680px;
	height: 520px;
	background:black;
	color:white;
	border: 3px solid lightslategray;
	border-radius:10;
	font: Arial, sans-serif;
	overflow-y:auto;
}

#popupCanvas table,
#popupCanvas th,
#popupCanvas td {
	border: 0px solid lightslategray;	
	border-radius:3;
}

#popupCanvas table {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#popupCanvas th {
	height: 30px;
	max-height:30px;
	background-color:lightslategray;
	color:white;
	padding-left:10px;
	padding-right:10px;
}

#popupCanvas td {
	height: 30px;
	max-height:30px;
	color:white;
	padding-left:5px;
	padding-right:5px;
}

#descriptionP {
	width:100%;
	text-align:center;
	text-weight:bold;
	font-size:140%;
}

#descriptionTA {
	position:absolute;
	top:50px;
	left:30px;
	width:617px;
	height:430px;
	color:white;
	background:darkslategray;
	border: 1px solid black;
	border-radius:3;
	resize:none;
	font: 13px Arial, sans-serif;
}

#defaultImageB {
	position:absolute;
	top:86px;
	left:146px;
	background:transparent;
	background-image:url('../static/Misc-User-icon128.png');
	width:128px;
	height:128px;
	border: 0px;
}

#portraitImage {
	position:absolute;
	top:10px;
	left:10px;
	max-width:413px;
	max-height:300px;
}

#instructions {
	position:absolute;
	top:250px;
	left:220px;
	font-size:130%;
}

#selectDDL {
	position:absolute;
	top:300px;
	left:200px;
	border: 4px solid red;
	border-radius:5;
	height:35;
	font-size:130%;
	background:black;
	color:white;
	padding:3px;
}

#selectB {
	position:absolute;
	top:300px;
	left:450px;
	height:35;
	width:120;
	font-size:130%;
}

#historyB {
	position:fixed;
	top:550px;
	left:100px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:transparent;
	background-image:url('../static/document-scroll-icon64.png');
}

#skillsB {
	position:fixed;
	top:550px;
	left:275px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:transparent;
	background-image:url('../static/harpoons-rifle-icon64.png');
}

#possessionsB {
	position:fixed;
	top:550px;
	left:450px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:transparent;
	background-image:url('../static/MSn-Baggs-icon64.png');
}

#descriptionB {
	position:fixed;
	top:550px;
	left:625px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:transparent;
	background-image:url('../static/User-icon64.png');
}

#canvasName textarea {
	position:absolute;
	right:0px;
	height:20px;
	resize:none;
	color:white;
	background:darkslategray;
	border: 1px solid lightslategray;
	border-radius:2;
	text-align:left;
	font: 13px Arial, sans-serif;
}

#Name {
	position:absolute;
	left:50px;
	width:320px;
}

#_Name {
	position:absolute;
	top:15px;
	width:270px;
}

#Race {
	position:absolute;
	top:30px;
	left:50px;
	width:320px;
}

#_Race {
	position:absolute;
	top:15px;
	width:270px;
}

#Home_World {
	position:absolute;
	top:60px;
	left:50px;
	width:320px;
}

#_Home_World {
	position:absolute;
	top:15px;
	width:220px;
}

#Titles {
	position:absolute;
	top:90px;
	left:50px;
	width:320px;
}

#_Titles {
	position:absolute;
	top:15px;
	width:270px;
}

#Height {
	position:absolute;
	left:430px;
	width:240px;
}

#_Height {
	position:absolute;
	top:15px;
	width:120px;
}

#Weight {
	position:absolute;
	top:30px;
	left:430px;
	width:240px;
}

#_Weight {
	position:absolute;
	top:15px;
	width:120px;
}

#Age {
	position:absolute;
	top:60px;
	left:430px;
	width:240px;
}

#_Age {
	position:absolute;
	top:15px;
	width:120px;
}

#genderDDL {
	position:absolute;
	top:105px;
	left:425px;
	height:30;
	border: 1px solid darkslategray;
	border-radius:3;
	background:black;
	color:white;
	padding:3px;
}

#canvasRoot textarea {
	position:absolute;
	right:0px;
	width:30px;
	height:20px;
	resize:none;
	color:white;
	background:darkslategray;
	border: 1px solid lightslategray;
	border-radius:2;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#canvasStats textarea {
	position:absolute;
	right:0px;
	width:30px;
	height:20px;
	resize:none;
	color:white;
	background:darkslategray;
	border: 1px solid lightslategray;
	border-radius:2;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#canvasStats p {
	position:absolute;
	top:-15px;
}

#canvasRoot p {
	position:absolute;
	top:-15px;
}

#canvasRoot #Strength {
	position:absolute;
	top:20px;
	left:15px;
	width: 120px;
}

#canvasRoot #Dexterity {
	position:absolute;
	top: 55px;
	left: 15px;
	width: 120px;
}

#canvasRoot #Endurance {
	position:absolute;
	top: 90px;
	left: 15px;
	width: 120px;
}

#canvasRoot #Intelligence {
	position:absolute;
	top: 20px;
	left: 155px;
	width: 150px;
}

#canvasRoot #Education {
	position:absolute;
	top: 55px;
	left: 155;
	width: 150px;
}

#canvasRoot #Social_Standing {
	position:absolute;
	top: 90px;
	left: 155px;
	width: 150px;
}

#canvasStats #Strength {
	position:absolute;
	top:20px;
	left:15px;
	width:160px;
}

#StrengthSlash {
	position:absolute;
	left:175px;	
}

#_StrengthTemp {
	position:absolute;
	left:195px;
	width:50px;
}

#canvasStats #Dexterity {
	position:absolute;
	top:50px;
	left:15px;
	width:160px;
}

#DexteritySlash {
	position:absolute;
	left:175px;	
}

#_DexterityTemp {
	position:absolute;
	left:195px;
	width:50px;
}

#canvasStats #Endurance {
	position:absolute;
	top:80px;
	left:15px;
	width:160px;
}

#EnduranceSlash {
	position:absolute;
	left:175px;	
}

#_EnduranceTemp {
	position:absolute;
	left:195px;
	width:50px;
}

#canvasStats #Intelligence {
	position:absolute;
	top:110px;
	left:15px;
	width:160px;
}

#canvasStats #Education {
	position:absolute;
	top:140px;
	left:15px;
	width:160px;
}

#canvasStats #Social_Standing {
	position:absolute;
	top:170px;
	left:15px;
	width:160px;
}

#rerollP {
	position:fixed;
	top:25px;
	left:50px;
	color:white;
}

#rerollB {
	position:fixed;
	top:10px;
	left:90px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:transparent;
	background-image:url('../static/dice-icon-64.png');
	opacity:0.7;
}

#historyTA {
	position:absolute;
	top:3px;
	left:3px;
	width:344px;
	height:125px;
	color:white;
	background:transparent;
	readonly:true;
	disabled:true;
	resize:none;
	font: 13px Arial, sans-serif;
	border: 0px;
}
