body {
	font: 13px Arial, sans-serif;
	background:black;
	margin:20px;
}
	
table, th, td {
	border: 0px solid #808099;	
	border-radius:3;
}

table {
	margin-left:auto;
	margin-right:auto;
}

textarea {
	color:#cccccc;
	background:#333333;
	border: 1px solid #808099;
	border-radius:2;
}

#actionCanvas {
	position:fixed;
	top:80px;
	left:20px;
	width:730px;
	height:330px;
	padding-top:10px;
	background:black;
	color:#cccccc;
	font: Arial, sans-serif;
	border: 1px solid #220000;
	border-radius:10;
	background:black;
	opacity:0.7;
}

#actionCanvas table {
	position:absolute;
	top:105px;
	left:25px;
}

#actionCanvas th {
	height:50px;
	width:90px;
	background-color:#808099;
	color:#cccccc;
	padding-left:10px;
	padding-right:10px;
}

#actionCanvas td {
	color:#cccccc;
	padding-left:5px;
	padding-right:5px;
	border: 1px solid #808099;
}

#instructions {
	position:absolute;
	top:10px;
	left:80px;
	font-size:130%;
}

#selectDDL {
	position:absolute;
	top:60px;
	left:80px;
	height:35;
	font-size:130%;
	border:3px solid #ff0000;
	border-radius:5;
	background-color:#cccccc;
	color:black;
}

#selectB {
	position:absolute;
	top:60px;
	left:290px;
	height:35;
	width:120;
	border:3px solid #5fff00;
	border-radius:5;
	background-color:#cccccc;
	color:#black;
	font-size:130%;
}

#canvasRoot {
	position:fixed;
	top: 450px;
	width: 330px;
	height: 130px;
	background:black;
	color:#cccccc;
	border: 1px solid #000022;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
	opacity:0.7;
}

#historyCanvas {
	position:fixed;
	top: 450px;
	left: 400px;
	width:350px;
	height: 130px;
	font: Arial, sans-serif;
	margin:0;
	border: 1px solid #222222;
	border-radius:10;
	background:transparent;
	opacity:0.6;
}

#canvasName {
	position:fixed;
	top:80px;
	left:20px;
	width:730px;
	height:150px;
	background:transparent;
	color:#cccccc;
	border: 1px solid #220000;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
	opacity:0.7;
}

#canvasStats {
	position:fixed;
	top:260px;
	width: 250px;
	height: 190px;
	padding: 10px;
	background:black;
	color:#cccccc;
	border: 1px solid #000022;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
	opacity:0.7;
}

#portraitCanvas {
	position:fixed;
	top:260px;
	left:320px;
	width: 433px;
	height:320px;
	border: 1px solid #222222;
	border-radius:10;
	opacity:0.7;
}

#portraitCanvasImaged {
	position:fixed;
	top:260px;
	left:320px;
	width: 433px;
	height:320px;
	border: 1px solid #222222;
	border-radius:10;
}

#popupCanvas table {
	margin-top:20px;
}

#popupCanvas th {
	height: 30px;
	max-height:30px;
	background-color:#808099;
	color:#cccccc;
	padding-left:10px;
	padding-right:10px;
}

#popupCanvas td {
	height: 30px;
	max-height:30px;
	color:#black;
	padding-left:5px;
	padding-right:5px;
}

#descriptionP {
	width:100%;
	text-align:center;
	text-weight:bold;
	font-size:140%;
}

#descriptionTA {
	position:absolute;
	top:20px;
	left:20px;
	width:520px;
	height:265px;
	color:#cccccc;
	background:#333333;
	border: 1px solid black;
	border-radius:5;
	resize:none;
	font: 13px Arial, sans-serif;
}

#defaultImageB {
	position:absolute;
	top:86px;
	left:146px;
	background:transparent;
	width:128px;
	height:128px;
	border: 0px;
}

#portraitImage {
	position:absolute;
	top:10px;
	left:10px;
	max-width:413px;
	max-height:300px;
}

#detailsB {
	position:fixed;
	top:500px;
	left:20px;
	width:275px;
	height:81px;
	border: 1px solid #222222;
	border-radius:10;
	background:transparent;
	opacity:0.7;
}

#restartB {
	position:fixed;
	top:10px;
	left:20px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:#222222;
	color:#cccccc;
	opacity:0.7;
}

#canvasName textarea {
	position:absolute;
	right:0px;
	height:20px;
	resize:none;
	text-align:left;
	font: 13px Arial, sans-serif;
}

#Name {
	position:absolute;
	left:50px;
	width:320px;
}

#_Name {
	position:absolute;
	top:15px;
	width:270px;
}

#Race {
	position:absolute;
	top:30px;
	left:50px;
	width:320px;
}

#_Race {
	position:absolute;
	top:15px;
	width:270px;
}

#Home_World {
	position:absolute;
	top:60px;
	left:50px;
	width:320px;
}

#_Home_World {
	position:absolute;
	top:15px;
	width:220px;
}

#Titles {
	position:absolute;
	top:90px;
	left:50px;
	width:320px;
}

#_Titles {
	position:absolute;
	top:15px;
	width:270px;
}

#Height {
	position:absolute;
	left:430px;
	width:240px;
}

#_Height {
	position:absolute;
	top:15px;
	width:120px;
}

#Weight {
	position:absolute;
	top:30px;
	left:430px;
	width:240px;
}

#_Weight {
	position:absolute;
	top:15px;
	width:120px;
}

#Age {
	position:absolute;
	top:60px;
	left:430px;
	width:240px;
}

#_Age {
	position:absolute;
	top:15px;
	width:120px;
}

#genderDDL {
	position:absolute;
	top:105px;
	left:425px;
	height:23;
	border: 1px solid #808099;
	border-radius:3;
	font-size:120%;
	font-color:#cccccc;
	background-color:#cccccc;
	color:black;
}

#canvasRoot textarea {
	position:absolute;
	right:0px;
	width:30px;
	height:20px;
	resize:none;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#canvasStats textarea {
	position:absolute;
	right:0px;
	width:30px;
	height:20px;
	resize:none;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#canvasStats p {
	position:absolute;
	top:-15px;
}

#canvasRoot p {
	position:absolute;
	top:-15px;
}

#canvasRoot #Strength {
	position:absolute;
	top:20px;
	left:15px;
	width: 120px;
}

#canvasRoot #Dexterity {
	position:absolute;
	top: 55px;
	left: 15px;
	width: 120px;
}

#canvasRoot #Endurance {
	position:absolute;
	top: 90px;
	left: 15px;
	width: 120px;
}

#canvasRoot #Intelligence {
	position:absolute;
	top: 20px;
	left: 155px;
	width: 150px;
}

#canvasRoot #Education {
	position:absolute;
	top: 55px;
	left: 155;
	width: 150px;
}

#canvasRoot #Social_Standing {
	position:absolute;
	top: 90px;
	left: 155px;
	width: 150px;
}

#canvasStats #Strength {
	position:absolute;
	top:20px;
	left:15px;
	width:160px;
}

#StrengthSlash {
	position:absolute;
	left:175px;	
}

#_StrengthTemp {
	position:absolute;
	left:195px;
	width:50px;
}

#canvasStats #Dexterity {
	position:absolute;
	top:50px;
	left:15px;
	width:160px;
}

#DexteritySlash {
	position:absolute;
	left:175px;	
}

#_DexterityTemp {
	position:absolute;
	left:195px;
	width:50px;
}

#canvasStats #Endurance {
	position:absolute;
	top:80px;
	left:15px;
	width:160px;
}

#EnduranceSlash {
	position:absolute;
	left:175px;	
}

#_EnduranceTemp {
	position:absolute;
	left:195px;
	width:50px;
}

#canvasStats #Intelligence {
	position:absolute;
	top:110px;
	left:15px;
	width:160px;
}

#canvasStats #Education {
	position:absolute;
	top:140px;
	left:15px;
	width:160px;
}

#canvasStats #Social_Standing {
	position:absolute;
	top:170px;
	left:15px;
	width:160px;
}

#rerollCanvas {
	position:fixed;
	top:10px;
	left:20px;	
}

#rerollP {
	position:absolute;
	top:15px;
	left:110px;
	color:#cccccc;
	font-size:80%;
}

#rerollB {
	position:absolute;
	top:0px;
	left:40px;
	width:64px;
	height:64px;
	border: 1px solid black;
	border-radius:3;
	background:transparent;
	opacity:0.7;
}

#historyTA {
	position:absolute;
	top:3px;
	left:3px;
	width:344px;
	height:125px;
	color:#cccccc;
	background:transparent;
	readonly:true;
	disabled:true;
	resize:none;
	font: 13px Arial, sans-serif;
	border: 0px;
}

#loginCanvas {
	position:fixed;
	top: 160px;
	left:180px;
	width:400px;
	height:200px;
	border: 1px solid #110000;
	border-radius:10;
	color:#cccccc;
	opacity:0.7;
}

#loginCanvas textarea {
	position:absolute;
	right:0px;
	top:7px;
	height:20px;
	width:150px;
	resize:none;
	text-align:left;
	font: 13px Arial, sans-serif;
}

#loginCanvas p {
	position:absolute;
	top:-10px;
	left:0px;
}

#usernameDiv {
	position:absolute;
	top:20px;
	left:50px;
	width:300px;
	font-size:130%;
}

#passwordDiv {
	position:absolute;
	top:50px;
	left:50px;
	width:300px;
	font-size:130%;
}

#loginB {
	position:absolute;
	top:90px;
	left:230px;
	width:100px;
	font-size:130%;
	border: 1px solid black;
	border-radius:3;
	background:#222222;
	color:#cccccc;
}

#forgotPasswordB {
	position:absolute;
	top:150px;
	left:15px;
	width:150px;
	color:#cccccc;
	background:transparent;
	border: 0px;
}

#registerB {
	position:absolute;
	top:150px;
	left:285px;
	width:100px;
	color:#cccccc;
	background:transparent;
	border: 0px;
}

#welcomeCanvas {
	position:fixed;
	top:25px;
	left:300px;
	width:430px;
}

#welcomeP {
	position:absolute;
	top:-6px;
	right:130px;
	text-align:right;
	color:#cccccc;
	background:transparent;
	font-style:italic;
}

#loginWelcomeB {
	position:absolute;
	top:5px;
	right:0px;
	width:100px;
	color:#cccccc;
	border:0;
	border-radius:3;
	background:transparent;
}

#popupCanvas {
	position:fixed;
	top:80px;
	left:40px;
	width: 690px;
	height: 455px;
	background:transparent;
	color:#cccccc;
	border: 1px solid black;
	border-radius:10;
	font: Arial, sans-serif;
	overflow-y:auto;
	opacity:0.7;
}

.AccordionTitle, .AccordionContent, .AccordionContainer
{
	position: relative;
	width: 560px; /*changeble*/
}

.AccordionTitle
{
	height: 25px; /*changeble*/
	overflow: hidden;
	cursor: pointer;
	font-family: Arial; /*changeble*/
	font-size: 120%; /*changeble*/
	font-weight: normal; /*changeble*/
	vertical-align: middle; /*changeble*/
	text-align: center; /*changeble*/
	display: table-cell;
	-moz-user-select: none;
	border:1px solid #808099;
	background-color:#cccccc;
	color:#333333;
}

.AccordionContent
{
	height: 0px;
	overflow: hidden; /*display: none;  */
	background:transparent;
}

.AccordionContent_
{
	height: 305;
	background:transparent;
}

.AccordionContainer
{
	top:15px;
	left:60px;
	border:1px solid #808099;
	background:transparent;
}
