body {
	font: 13px Arial, sans-serif;
	background:black;
	background-image:url('../static/M8-lagoon-rim-1920.jpg');
	margin:20px;
}
	
table, th, td {
	border: 1px solid lightslategray;	
	border-radius:3;
}

table {
	margin-left:auto;
	margin-right:auto;
}

th {
	height: 50px;
	background-color:lightslategray;
	color:white;
	padding-left:10px;
	padding-right:10px;
}

td {
	color:white;
	padding-left:5px;
	padding-right:5px;
}

button {
	font-size:130%;
	background-color:lightslategray;
	color:white;	
}

select {
	font-size:130%;
	background:black;
	color:white;
}

#actionCanvas {
	width:730px;
	height:330px;
	padding-top:10px;
	background:black;
	color:white;
	font: Arial, sans-serif;
	border: 3px solid #330000;
	border-radius:10;
}

#canvasRoot {
	position:fixed;
	top: 400px;
	width: 330px;
	height: 210px;
	background:black;
	color:white;
	border: 3px solid blue;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
}

#historyCanvas {
	position:fixed;
	top: 400px;
	left: 400px;
	width:350px;
	font: Arial, sans-serif;
	margin:0;
}

#canvasName {
	position:fixed;
	top: 20px;
	width:320px;
	height:120px;
	padding: 10px;
	background:black;
	color:white;
	border: 3px solid #330000;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
}

#canvasStats {
	position:fixed;
	top:190px;
	width: 200px;
	height: 190px;
	padding: 10px;
	background:black;
	color:white;
	border: 3px solid blue;
	border-radius:10;
	font-size:120%;
	font: Arial, sans-serif;
}

#instructions {
	margin-left:150px;
	font-size:130%;
}

#selectDDL {
	margin-left:150px;
	border: 1px solid red;
	color:red;
}

#selectB {
	margin-left:150px;
}

#canvasName input {
	position:absolute;
	right:0px;
	width:240px;
	color:white;
	background:darkslategray;
	border: 1px solid lightslategray;
	border-radius:2;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#hwform input {
	width:200px;
}

#nameform {
	position:absolute;
	top:20px;
	left:10px;
	width:310px;
}

#raceform {
	position:absolute;
	top:50px;
	left:10px;
	width:310px;
}

#hwform {
	position:absolute;
	top:80px;
	left:10px;
	width:310px;
}

#canvasRoot input {
	position:absolute;
	right:0px;
	width:30px;
	color:white;
	background:darkslategray;
	border: 1px solid lightslategray;
	border-radius:2;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#canvasStats input {
	position:absolute;
	right:0px;
	width:30px;
	color:white;
	background:darkslategray;
	border: 1px solid lightslategray;
	border-radius:2;
	text-align:right;
	font: 13px Arial, sans-serif;
}

#canvasRoot #Strength {
	position:absolute;
	top:60px;
	left:15px;
	width: 120px;
}

#canvasRoot #Dexterity {
	position:absolute;
	top: 95px;
	left: 15px;
	width: 120px;
}

#canvasRoot #Endurance {
	position:absolute;
	top: 130px;
	left: 15px;
	width: 120px;
}

#canvasRoot #Intelligence {
	position:absolute;
	top: 60px;
	left: 155px;
	width: 150px;
}

#canvasRoot #Education {
	position:absolute;
	top: 95px;
	left: 155;
	width: 150px;
}

#canvasRoot #Social_Standing {
	position:absolute;
	top: 130px;
	left: 155px;
	width: 150px;
}

#canvasStats #Strength {
	position:absolute;
	top:20px;
	left:15px;
	width:160px;
}

#canvasStats #Dexterity {
	position:absolute;
	top:50px;
	left:15px;
	width:160px;
}

#canvasStats #Endurance {
	position:absolute;
	top:80px;
	left:15px;
	width:160px;
}

#canvasStats #Intelligence {
	position:absolute;
	top:110px;
	left:15px;
	width:160px;
}

#canvasStats #Education {
	position:absolute;
	top:140px;
	left:15px;
	width:160px;
}

#canvasStats #Social_Standing {
	position:absolute;
	top:170px;
	left:15px;
	width:160px;
}

#historyTA {
	width:350px;
	height:217px;
	color:white;
	background:black;
	border: 3px solid lightslategray;
	border-radius:10;
	readonly:true;
	disabled:true;
	resize:none;
	font: 13px Arial, sans-serif;
}
